.img1 {
    background-image: url('/anh/developer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center,center;
    height: 800px;
    width: 100%;
    position: relative;

}

.img1 .text1{
    position: absolute;
    top: 5%;
    left: 20%;
    height: 15px;
    width: 70%;
    font-size: 70px;
    color: white;
}
.img1 .text2{
    position: absolute;
    top: 13%;
    left: 41%;
    font-size: 25px;
    color: white;
 }
 .img1 .text3 {
    position: absolute;
    top: 16%;
    left: 20%;
    font-size: 70px;
    color: deeppink;
 }
 .ctn1{
    background-color: black;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .ctn1 .text4{
    /* position: absolute; */
    text-align: center;
    font-size: 60px;
    color: white;
    font-weight: normal;
    display: inline;
 }
 .ctn1 .text4 p2{
    font-size: 80px;
    color: white;
    font-weight: normal;
    display: inline;
    text-align: center;
 }
 .ctn1 .text5 {
    text-align: center;
    color: white;
    font-size: 70px;
    display: inline;
 }

 .ctn2 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    justify-content: center;
    margin: 20px;
 }

 .ctn2 h4 {
    font-size: 20px;
 }

 .btn {
    width: 300px;
    height: 400px;
    position: relative;
    border-style: outset;
    border-radius: 20px;
 }

 .btn .img2 {
    width: 100%;
    height: 50%;
    position: absolute;
 }

 .btn .chu {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
 }

 .btn:hover{
    cursor: pointer;
    transform: scale(1.1);
 }

 .ctn3 {
    display: grid;
    grid-template-columns: auto auto;
 }

 .ctn3 .text6 {
    position: relative;
    background-color: darkolivegreen;
    color: white;
 }

 .ctn3 .text7 {
    position: relative;
    background-color: darkred;
    color: white;
 }

 .ctn3 h1 {
    position: relative;
    max-width: 80%;
    left: 5%;
 }

 .ctn3 p {
    position: relative;
    max-width: 80%;
    left: 5%;
 }

 .ctn4 {
    position: absolute;
    background-color: black;
    height: 50px;
    width: 1424px;
 }

.ctn4 p {
    color: white;
    text-align: center;
 }

